@import './font.css';
header{
	background-image: url('head.jpg');
	padding:3px;
    margin:3px;
	
}
body{
	background-image: url('body.jpg');
}

.c{
	color:#7FE5F0;
	font-size:30px;
	font-family: "Ubuntu", serif;
	font-weight: 300;
	font-style: normal;
	text-align:center;
	
}
.menu{
	color:black;
	text-align:center;
	font-size:30px;
}
.menu a{
	margin:10px
	
}

p{
	color:black;
	font-size:20px;
    font-family: "Montserrat", sans-serif;
	font-weight: 500;
    font-style: normal;
	
}
.bz2{
	text-align:center;
}
.bz{
	
	text-align:center;
	margin:20px;
	height:430px;
	width: 800px;
	
}
.ps{
	text-align:center;
	color:black;
	font-size:20px;
    font-family: "Montserrat", sans-serif;
	font-weight: 500;
    font-style: normal;
}
/*imege's page digain*/
.images1{
	padding:50px;
	margin:30px;
	text-align:center;
}
.images2{
	padding:50px;
	margin:30px;
	text-align:center;
	
}
.images3{
	text-align:center;
	padding:50px;
	margin:30px;
}
.images4{
	
	
    background-color: powderblue;
	text-align:center;
	padding:50px;
	margin:30px;
}
.images5{
	
	text-align:center;
	padding:50px;
	margin:30px;
}
.images6{
	
	text-align:center;
	padding:50px;
	margin:30px;
}

.images7{
	
	text-align:center;
	padding:50px;
	margin:30px;
}

/*order page digain*/
.rejistetionfrom input[type=text]{
	height:50px;
	width:300px;
	font-size:40px;
	font-family: "Roboto Mono", monospace;
	text-align:center;
}
.rejistetionfrom input[type=text].name{
	height:50px;
	width:300px;
	font-size:40px;
	font-family: "Roboto Mono", monospace;
	text-align:left;
}
h3 {
	color:black;
	font-size:30px;
	font-weight: 600;
    font-style: normal;
	
}

footer{
	background-color:black;
	padding:15px;
    margin:20px;
	
}
.foot1{
	font-family: "Montserrat", sans-serif;
	color:#DBF5F0;
	text-align:center;
	font-size:15px;
}
